*.aux
*.bbl
*.log
*.lyx
main.pdf
*.blg
*.lof
*.out
*.synctex.gz
*.toc
Tesi island effects (draft 13.7.2022).pdf
AppendixA.txss2
main.synctex(busy)
images/Chapter1/attention-manning-pnas.*
images/AppendixA/gilberto wrong casing/
images/Chapter1/gilberto wrong casing/
images/Chapter1/prev versions/
*.pdf
*.xlsx

